<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FinalProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FinalProject.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\Cambridge\Software Engineering\GitHubVS\SoftwareEngineering_ARU_ComputerScience_TRI1\SoftwareEngineering_ARU_ComputerScience_TRI1\Program\FinalProject\FinalprojectDB.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    
  
    </connectionStrings>
  <add name="connstr"
       connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Pri Pri\Source\Repos\SoftwareEngineering_ARU_ComputerScience_TRI1\Program\FinalProject\FinalprojectDB.mdf&quot;Integrated Security=True"></add>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <FinalProject.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </FinalProject.Properties.Settings>
    </userSettings>
</configuration>
